
body{
  background-color: #1e1e1e;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.App {
  text-align: center;
  color: whitesmoke;
}

.title {
  font-size: 35px;
  
}


.desc1 {
 
  font-size:  24px;
  

}

.desc2 {
 
  font-size:  24px;
  
}


.mascot {
  max-width: 500px;
  max-height: 500px;

}

.wellness{
  max-width: 230px;
  max-height: 300px;
 
  

}